.sidebar {
    position: sticky;
    top: 80px;
    border-radius: 10px;
    flex: 0.2;
    text-align: center;
    height: fit-content;
}

.sidebar__avatar {
    margin-bottom: 10px;
}

.sidebar__top h4 {
    color: gray;
    font-size: 12px;
}

.sidebar__top h2 {
    font-size: 18px;
}

.sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.sidebar__top>img {
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar__stat {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar__stat>p {
    color: gray;
    font-size: 13px;
    font-weight: 600px;
}

.sidebar__stats {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar__statNumber {
    font-weight: bold;
    color: #0a66c2 !important;
}

.sidebar__bottom {
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar__recentItem {
    display: flex;
    font-size: 13px;
    cursor: pointer;
    color: gray;
    font-weight: bolder;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar__bottom>p {
    font-size: 13px;
    padding-bottom: 10px;
}

.sidebar__recentItem:hover {
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
}

.sidebar__hash {
    margin-right: 10px;
    margin-left: 5px;
}